In [42]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [132]:
mno_asiapacific = "https://en.wikipedia.org/wiki/List_of_mobile_network_operators_of_the_Asia_Pacific_region"
mno_europe = "https://en.wikipedia.org/wiki/List_of_mobile_network_operators_of_Europe"
mno_americas = "https://en.wikipedia.org/wiki/List_of_mobile_network_operators_of_the_Americas"
mno_africas = "https://en.wikipedia.org/wiki/List_of_mobile_network_operators_of_the_Middle_East_and_Africa"

mno_urls = [mno_asiapacific, mno_europe, mno_americas, mno_africas]

```sql
with testData1 as (
select * from unnest([
      struct
      (1799867122 as user_id, 158 as product_id, timestamp (null) as expire_time_after_purchase,  70000000 as transaction_id, timestamp '2020-11-23 09:01:00' as created_at),
      (1799867122,158,timestamp (null),70000001,timestamp '2020-11-23 09:15:00.042308 UTC'),
      (1799867122,158,timestamp (null),70000002,timestamp '2020-11-23 09:30:00.042308 UTC'),
      (1799867122,158,timestamp (null),70000003,timestamp '2020-11-23 09:45:00.042308 UTC')
      ]
  ) as t
)

Select * from testData1
```

In [133]:
def parse_wiki(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text)
    df_dict = {
        "CountryName": [],
        "MNOName": [],
        "Rank": [],
        "Virtual": []
    }

    overalldiv = soup.find("div", {"class": "mw-parser-output"})

    countryHeads = overalldiv.findAll("h2")
    isVirtual = False
    for countryHead in countryHeads:
        isVirtual = False
        countryName = countryHead.find("span").text
        if(countryName.strip() == ""):
            continue
        #print("Country Name", countryName)
        b = countryHead.find_next("table")
        if(b is None):
            continue
        rows = b.find_all("tr")[1:]
        for row in rows:
            cols = row.find_all("td")
            if(len(cols) != 5 and len(cols) != 6):
                if(len(row.find_all("th")) == 1 and (row.find("a") is not None) and re.search("virtual", row.find("a").text, re.IGNORECASE)):
                    isVirtual = True
                continue
            rank = cols[0].text
            operator = cols[1].text
            #print("Rank", rank)
            #print("Operator", operator)

            df_dict["CountryName"].append(countryName)
            df_dict["Rank"].append(rank)
            df_dict["MNOName"].append(operator)
            df_dict["Virtual"].append(isVirtual)

    df = pd.DataFrame(df_dict)
    return df

In [134]:
import geohash
# Retrieving Datasets as dataframes
ndt7_df   = pd.read_csv("./data/mlab_starlink_data/ndt7_cities_overview.csv").set_index("ClientGeohash")
ndt7_df = ndt7_df.sort_values(by="MeasurementCount", ascending=False)
ndt7_df["lat"] = [geohash.decode(gh)[0] for gh in ndt7_df.index]
ndt7_df["lon"] = [geohash.decode(gh)[1] for gh in ndt7_df.index]

In [135]:
df = pd.concat([parse_wiki(url) for url in mno_urls])

In [136]:
df[df["CountryName"] == "Netherlands"]

,CountryName,MNOName,Rank,Virtual
114,Netherlands,T-Mobile (Formerly Ben)•Includes the previous ...,1,False
115,Netherlands,KPN •Includes the previous Telfort network.,2,False
116,Netherlands,Vodafone (Formerly Libertel),3,False

In [137]:
df.to_csv("data/mno_list.txt")

In [138]:
#df = df[(df["Rank"] == "1") & (df["Virtual"] == False)]
df_filtered = df[df["CountryName"].isin(ndt7_df["ClientCountry"].drop_duplicates().values)]
df_filtered.to_csv("data/mno_list_starlinkfiltered.csv")

In [139]:
for _, row in df.sort_values("CountryName").iterrows():
    print(row["CountryName"])

Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Albania
Albania
Algeria
Algeria
Algeria
American Samoa
American Samoa
Andorra
Angola
Angola
Angola
Anguilla
Anguilla
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Argentina
Argentina
Argentina
Argentina
Argentina
Armenia
Armenia
Armenia
Aruba
Aruba
Aruba
Australia
Australia
Australia
Austria
Austria
Austria
Austria
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Bahamas
Bahamas
Bahrain
Bahrain
Bahrain
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Barbados
Barbados
Belarus
Belarus
Belarus
Belgium
Belgium
Belgium
Belize
Belize
Benin
Benin
Benin
Benin
Benin
Bermuda
Bermuda
Bhutan
Bhutan
Bolivia
Bolivia
Bolivia
Bonaire
Bonaire
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bougainville
Brazil
Brazil
Brazil
Brazil
Brazil
British Virgin Islands
British Virgin Islands
British Virgin Islands
Brunei Darussalam
Brunei Darussalam
Burkina Faso
Burkina Faso
Burkina Faso
Burundi
Burundi
Burundi
Burundi
Cabo Verde
Cabo Verde
Cambodia
Cambodia
Cambodia
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Canada
Canada
Canada
Canada
Canada
Canada
Cayman Islands
Cayman Islands
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Chad
Chad
Chile
Chile
Chile
Chile
Chile
Chile
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Comoros
Comoros
Congo
Congo
Congo
Cook Islands
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Croatia
Croatia
Croatia
Cuba
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Czech Republic
Czech Republic
Czech Republic
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Denmark
Denmark
Denmark
Denmark
Djibouti
Dominica
Dominica
Dominican Republic
Dominican Republic
Dominican Republic
Ecuador
Ecuador
Ecuador
Ecuador
Egypt
Egypt
Egypt
Egypt
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Eritrea
Estonia
Estonia
Estonia
Eswatini
Eswatini
Ethiopia
Ethiopia
Falkland Islands
Faroe Islands
Faroe Islands
Faroe Islands
Fiji
Fiji
Finland
Finland
Finland
Finland
France
France
France
France
French Polynesia
French Polynesia
French Polynesia
Gabon
Gabon
Gambia
Gambia
Gambia
Gambia
Georgia
Georgia
Georgia
Germany
Germany
Germany
Ghana
Ghana
Ghana
Ghana
Gibraltar
Greece
Greece
Greece
Greenland
Grenada
Grenada
Guam
Guam
Guam
Guatemala
Guatemala
Guernsey
Guernsey
Guernsey
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guyana
Guyana
Haiti
Haiti
Honduras
Honduras
Honduras
Hong Kong
Hong Kong
Hong Kong
Hong Kong
Hong Kong
Hong Kong
Hong Kong
Hong Kong
Hong Kong
Hong Kong
Hong Kong
Hong Kong
Hong Kong
Hungary
Hungary
Hungary
Hungary
Iceland
Iceland
Iceland
India
India
India
India
India
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Iran
Iran
Iran
Iraq
Iraq
Iraq
Iraq
Iraq
Ireland
Ireland
Ireland
Isle of Man
Isle of Man
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Italy
Italy
Italy
Italy
Italy
Jamaica
Jamaica
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Jersey
Jersey
Jersey
Jordan
Jordan
Jordan
Kazakhstan
Kazakhstan
Kazakhstan
Kosovo
Kosovo
Kuwait
Kuwait
Kuwait
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Laos
Laos
Laos
Laos
Latvia
Latvia
Latvia
Latvia
Latvia
Lebanon
Lebanon
Lesotho
Lesotho
Liberia
Liberia
Liberia
Liberia
Libya
Libya
Liechtenstein
Liechtenstein
Liechtenstein
Lithuania
Lithuania
Lithuania
Lithuania
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Macau
Macau
Macau
Macau
Madagascar
Madagascar
Madagascar
Madagascar
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Maldives
Maldives
Mali
Mali
Mali
Malta
Malta
Malta
Marshall Islands
Mauritania
Mauritania
Mauritania
Mauritius
Mauritius
Mauritius
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Moldova
Moldova
Moldova
Moldova
Monaco
Mongolia
Mongolia
Mongolia
Mongolia
Montenegro
Montenegro
Montenegro
Montserrat
Montserrat
Morocco
Morocco
Morocco
Mozambique
Mozambique
Mozambique
Myanmar
Myanmar
Myanmar
Myanmar
Namibia
Namibia
Nauru
Nepal
Nepal
Nepal
Netherlands
Netherlands
Netherlands
New Caledonia
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
Nicaragua
Nicaragua
Niger
Niger
Niger
Niger
Nigeria
Nigeria
Nigeria
Nigeria
Niue
Norfolk Island
North Korea
North Macedonia
North Macedonia
Northern Mariana Islands
Northern Mariana Islands
Norway
Norway
Norway
Oman
Oman
Palau
Palestine
Palestine
Panama
Panama
Panama
Panama
Papua New Guinea
Papua New Guinea
Papua New Guinea
Paraguay
Paraguay
Paraguay
Paraguay
Peru
Peru
Peru
Peru
Peru
Philippines
Philippines
Philippines
Philippines
Philippines
Philippines
Poland
Poland
Poland
Poland
Portugal
Portugal
Portugal
Puerto Rico and United States Virgin Islands
Puerto Rico and United States Virgin Islands
Puerto Rico and United States Virgin Islands
Puerto Rico and United States Virgin Islands
Qatar
Qatar
Romania
Romania
Romania
Romania
Russia
Russia
Russia
Russia
Rwanda
Rwanda
Rwanda
Saint Kitts and Nevis
Saint Kitts and Nevis
Saint Lucia
Saint Lucia
Saint Vincent and the Grenadines
Saint Vincent and the Grenadines
Samoa
Samoa
San Marino
Saudi Arabia
Saudi Arabia
Saudi Arabia
Saudi Arabia
Saudi Arabia
Senegal
Senegal
Senegal
Senegal
Serbia
Serbia
Serbia
Seychelles
Seychelles
Sierra Leone
Sierra Leone
Sierra Leone
Sierra Leone
Sierra Leone
Sierra Leone
Singapore
Singapore
Singapore
Singapore
Singapore
Singapore
Singapore
Singapore
Singapore
Singapore
Singapore
Singapore
Singapore
Singapore
Singapore
Slovakia
Slovakia
Slovakia
Slovakia
Slovenia
Slovenia
Slovenia
Slovenia
Solomon Islands
Somalia
Somalia
Somalia
Somalia
Somalia
Somalia
Somalia
Somalia
Somalia
South Africa
South Africa
South Africa
South Africa
South Africa
South Korea
South Korea
South Korea
South Sudan
South Sudan
South Sudan
South Sudan
South Sudan
Spain
Spain
Spain
Spain
Sri Lanka
Sri Lanka
Sri Lanka
Sri Lanka
Sudan
Sudan
Sudan
Sudan
Suriname
Suriname
Sweden
Sweden
Sweden
Sweden
Switzerland
Switzerland
Switzerland
Syrian Arab Republic
Syrian Arab Republic
Taiwan
Taiwan
Taiwan
Taiwan
Taiwan
Taiwan
Taiwan
Tajikistan
Tajikistan
Tajikistan
Tajikistan
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Thailand
Timor-Leste
Timor-Leste
Timor-Leste
Togo
Togo
Tonga
Tonga
Trinidad and Tobago
Trinidad and Tobago
Tunisia
Tunisia
Tunisia
Turkey
Turkey
Turkey
Turkey
Turkey
Turkey
Turkmenistan
Turkmenistan
Turks and Caicos Islands
Turks and Caicos Islands
Tuvalu
Uganda
Uganda
Uganda
Uganda
Ukraine
Ukraine
Ukraine
Ukraine
Ukraine
Ukraine
United Arab Emirates
United Arab Emirates
United Arab Emirates
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United States
United States
United States
United States
United States
Uruguay
Uruguay
Uruguay
Uzbekistan
Uzbekistan
Uzbekistan
Uzbekistan
Uzbekistan
Vanuatu
Vanuatu
Vanuatu
Vanuatu
Venezuela
Venezuela
Venezuela
Vietnam
Vietnam
Vietnam
Vietnam
Vietnam
Yemen
Yemen
Yemen
Yemen
Zambia
Zambia
Zambia
Zimbabwe
Zimbabwe
Zimbabwe

In [141]:
df

     CountryName               MNOName Rank  Virtual
0    Afghanistan                   MTN    1    False
1    Afghanistan                Roshan    2    False
2    Afghanistan  Etisalat Afghanistan    3    False
3    Afghanistan       Afghan Wireless    4    False
4    Afghanistan                Salaam    5    False
..           ...                   ...  ...      ...
219       Zambia                Airtel    2    False
220       Zambia                Zamtel    3    False
221     Zimbabwe                Econet    1    False
222     Zimbabwe               telecel    2    False
223     Zimbabwe                NetOne    3    False

[756 rows x 4 columns]

In [142]:
sql_template = """
with mnoData as (
select * from unnest([struct {}]) as t
)
"""

In [143]:
first_row = True
def return_rowstr(a):
    global first_row
    if first_row:
        first_row = False
        return "({})".format(
            ", ".join([
                "'{}' as CountryName".format(str(a["CountryName"]).strip()),
                "'{}' as MNOName".format(str(a["MNOName"]).strip()),
                "'{}' as Rank".format(str(a["Rank"]).strip()),
                "{} as Virtual".format(str(a["Virtual"]).strip())])
        )
    else:
        return str((str(a["CountryName"]).strip(), str(a["MNOName"]).strip(), str(a["Rank"]).strip(), eval(str(a["Virtual"]).strip())))

sql_str = sql_template.format(",\n".join([return_rowstr(a) for a in df.iloc]))

In [144]:
with open("mno_sql_query.txt", "w+") as file:
    file.write(sql_str)

## AI Powered list

In [145]:
mno_df = pd.read_csv("data/mno_list_withasn_aipowered.csv")
mno_df = mno_df.dropna()
mno_df["IslandNation"] = mno_df["IslandNation"] == "y"
mno_df["ManualCheck"] = mno_df["ManualCheck"] == "y"
mno_df

           CountryName     MonileOperator      ASN  ManualCheck  IslandNation
0          Netherlands                KPN   AS1136         True         False
1          Netherlands           T-Mobile  AS50266         True         False
2          Netherlands              Tele2  AS13127         True         False
3   Dominican Republic              Claro   AS6400         True          True
4   Dominican Republic  Altice Dominicana  AS28118         True          True
..                 ...                ...      ...          ...           ...
76               Spain             Orange  AS12479         True         False
77               Spain           Vodafone  AS12430         True         False
78               Japan         NTT Docomo   AS9605         True         False
79               Japan               KDDI   AS2516         True         False
80               Japan           SoftBank  AS17676         True         False

[75 rows x 5 columns]

In [146]:
# TODO: build a query that which generates where clauses for country2citydiagnostic.csv
where_template = "(\n\t{}\n)".format("OR\n\t".join([ "(client.Geo.CountryName = \"{}\" AND client.Network.ASNumber = {})".format(row["CountryName"], int(row["ASN"][2:])) for _, row in mno_df.iterrows() ]))

In [147]:
print(where_template)

(
	(client.Geo.CountryName = "Netherlands" AND client.Network.ASNumber = 1136)OR
	(client.Geo.CountryName = "Netherlands" AND client.Network.ASNumber = 50266)OR
	(client.Geo.CountryName = "Netherlands" AND client.Network.ASNumber = 13127)OR
	(client.Geo.CountryName = "Dominican Republic" AND client.Network.ASNumber = 6400)OR
	(client.Geo.CountryName = "Dominican Republic" AND client.Network.ASNumber = 28118)OR
	(client.Geo.CountryName = "Dominican Republic" AND client.Network.ASNumber = 27887)OR
	(client.Geo.CountryName = "Canada" AND client.Network.ASNumber = 577)OR
	(client.Geo.CountryName = "Canada" AND client.Network.ASNumber = 812)OR
	(client.Geo.CountryName = "Canada" AND client.Network.ASNumber = 852)OR
	(client.Geo.CountryName = "Nigeria" AND client.Network.ASNumber = 29465)OR
	(client.Geo.CountryName = "Nigeria" AND client.Network.ASNumber = 36873)OR
	(client.Geo.CountryName = "Nigeria" AND client.Network.ASNumber = 328309)OR
	(client.Geo.CountryName = "Austria" AND client.Network.ASNumber = 8447)OR
	(client.Geo.CountryName = "Austria" AND client.Network.ASNumber = 8412)OR
	(client.Geo.CountryName = "Austria" AND client.Network.ASNumber = 25255)OR
	(client.Geo.CountryName = "Norway" AND client.Network.ASNumber = 2119)OR
	(client.Geo.CountryName = "Norway" AND client.Network.ASNumber = 12929)OR
	(client.Geo.CountryName = "Norway" AND client.Network.ASNumber = 15659)OR
	(client.Geo.CountryName = "Peru" AND client.Network.ASNumber = 12252)OR
	(client.Geo.CountryName = "Peru" AND client.Network.ASNumber = 6147)OR
	(client.Geo.CountryName = "Peru" AND client.Network.ASNumber = 21575)OR
	(client.Geo.CountryName = "Belgium" AND client.Network.ASNumber = 5432)OR
	(client.Geo.CountryName = "Belgium" AND client.Network.ASNumber = 47377)OR
	(client.Geo.CountryName = "Belgium" AND client.Network.ASNumber = 6848)OR
	(client.Geo.CountryName = "France" AND client.Network.ASNumber = 3215)OR
	(client.Geo.CountryName = "France" AND client.Network.ASNumber = 5410)OR
	(client.Geo.CountryName = "France" AND client.Network.ASNumber = 15557)OR
	(client.Geo.CountryName = "United Kingdom" AND client.Network.ASNumber = 12576)OR
	(client.Geo.CountryName = "United Kingdom" AND client.Network.ASNumber = 5089)OR
	(client.Geo.CountryName = "United Kingdom" AND client.Network.ASNumber = 5378)OR
	(client.Geo.CountryName = "Saint Barthélemy" AND client.Network.ASNumber = 3215)OR
	(client.Geo.CountryName = "United States" AND client.Network.ASNumber = 22394)OR
	(client.Geo.CountryName = "United States" AND client.Network.ASNumber = 20057)OR
	(client.Geo.CountryName = "United States" AND client.Network.ASNumber = 21928)OR
	(client.Geo.CountryName = "Brazil" AND client.Network.ASNumber = 18881)OR
	(client.Geo.CountryName = "Brazil" AND client.Network.ASNumber = 26615)OR
	(client.Geo.CountryName = "Brazil" AND client.Network.ASNumber = 28573)OR
	(client.Geo.CountryName = "Ireland" AND client.Network.ASNumber = 15502)OR
	(client.Geo.CountryName = "Ireland" AND client.Network.ASNumber = 5466)OR
	(client.Geo.CountryName = "Ireland" AND client.Network.ASNumber = 13280)OR
	(client.Geo.CountryName = "New Zealand" AND client.Network.ASNumber = 4771)OR
	(client.Geo.CountryName = "New Zealand" AND client.Network.ASNumber = 9500)OR
	(client.Geo.CountryName = "New Zealand" AND client.Network.ASNumber = 9790)OR
	(client.Geo.CountryName = "Italy" AND client.Network.ASNumber = 3269)OR
	(client.Geo.CountryName = "Italy" AND client.Network.ASNumber = 30722)OR
	(client.Geo.CountryName = "Italy" AND client.Network.ASNumber = 1267)OR
	(client.Geo.CountryName = "Mexico" AND client.Network.ASNumber = 28403)OR
	(client.Geo.CountryName = "Mexico" AND client.Network.ASNumber = 28469)OR
	(client.Geo.CountryName = "Australia" AND client.Network.ASNumber = 4804)OR
	(client.Geo.CountryName = "Australia" AND client.Network.ASNumber = 1221)OR
	(client.Geo.CountryName = "Australia" AND client.Network.ASNumber = 133612)OR
	(client.Geo.CountryName = "Philippines" AND client.Network.ASNumber = 10139)OR
	(client.Geo.CountryName = "Philippines" AND client.Network.ASNumber = 132199)OR
	(client.Geo.CountryName = "Chile" AND client.Network.ASNumber = 27651)OR
	(client.Geo.CountryName = "Chile" AND client.Network.ASNumber = 27995)OR
	(client.Geo.CountryName = "Chile" AND client.Network.ASNumber = 7418)OR
	(client.Geo.CountryName = "Germany" AND client.Network.ASNumber = 3320)OR
	(client.Geo.CountryName = "Germany" AND client.Network.ASNumber = 3209)OR
	(client.Geo.CountryName = "Germany" AND client.Network.ASNumber = 6805)OR
	(client.Geo.CountryName = "Martinique" AND client.Network.ASNumber = 48252)OR
	(client.Geo.CountryName = "Portugal" AND client.Network.ASNumber = 2860)OR
	(client.Geo.CountryName = "Portugal" AND client.Network.ASNumber = 15525)OR
	(client.Geo.CountryName = "Portugal" AND client.Network.ASNumber = 12353)OR
	(client.Geo.CountryName = "Puerto Rico" AND client.Network.ASNumber = 10396)OR
	(client.Geo.CountryName = "Puerto Rico" AND client.Network.ASNumber = 14638)OR
	(client.Geo.CountryName = "Puerto Rico" AND client.Network.ASNumber = 21928)OR
	(client.Geo.CountryName = "Colombia" AND client.Network.ASNumber = 10620)OR
	(client.Geo.CountryName = "Colombia" AND client.Network.ASNumber = 13489)OR
	(client.Geo.CountryName = "Colombia" AND client.Network.ASNumber = 27831)OR
	(client.Geo.CountryName = "Spain" AND client.Network.ASNumber = 3352)OR
	(client.Geo.CountryName = "Spain" AND client.Network.ASNumber = 12479)OR
	(client.Geo.CountryName = "Spain" AND client.Network.ASNumber = 12430)OR
	(client.Geo.CountryName = "Japan" AND client.Network.ASNumber = 9605)OR
	(client.Geo.CountryName = "Japan" AND client.Network.ASNumber = 2516)OR
	(client.Geo.CountryName = "Japan" AND client.Network.ASNumber = 17676)
)

## MNO Ranking

In [148]:
import re
import argparse
import sys
import json
import requests

In [149]:
URL = "https://api.asrank.caida.org/v2/graphql"
decoder = json.JSONDecoder()
encoder = json.JSONEncoder()

######################################################################
## Main code
######################################################################
def query_asn(asn):
    query = AsnQuery(asn)
    request = requests.post(URL,json={'query':query})
    if request.status_code == 200:
        #print (request.json())
        return request.json()
    else:
        print ("Query failed to run returned code of %d " % (request.status_code))
        return None

######################################################################
## Queries
######################################################################

def AsnQuery(asn): 
    return """{
        asn(asn:"%i") {
            asn
            asnName
            rank
            country {
                iso
                name
            }
            asnDegree {
                provider
                peer
                customer
                total
                transit
                sibling
            }
            announcing {
                numberPrefixes
                numberAddresses
            }
        }
    }""" % (int(asn[2:]))
#run the main method

results = []
for _, row in mno_df.iterrows():
    results.append(query_asn(row["ASN"])["data"]["asn"])

In [150]:
caida_df = pd.DataFrame(results)
caida_df = caida_df.set_index("asn")

In [151]:
def getrank(asn):
    return caida_df.loc[[asn[2:]]].iloc[0]["rank"]
getrank("AS50266")

1284

In [152]:
mno_df["asrank"] = mno_df["ASN"].apply(getrank)
#mno_df = mno_df.set_index(["CountryName", "ASN"])

In [157]:
mno_df

,CountryName,MonileOperator,ASN,ManualCheck,IslandNation,asrank
0,Netherlands,KPN,AS1136,True,False,777
1,Netherlands,T-Mobile,AS50266,True,False,1284
2,Netherlands,Tele2,AS13127,True,False,1378
3,Dominican Republic,Claro,AS6400,True,True,2796
4,Dominican Republic,Altice Dominicana,AS28118,True,True,3070
...,...,...,...,...,...,...
76,Spain,Orange,AS12479,True,False,327
77,Spain,Vodafone,AS12430,True,False,348
78,Japan,NTT Docomo,AS9605,True,False,11586
79,Japan,KDDI,AS2516,True,False,91
80,Japan,SoftBank,AS17676,True,False,152

In [158]:
sss = "\n".join([
    "{} & {} & {} & {}\\\\ \\hline".format(
            row["CountryName"],
            row["MonileOperator"],
            row["ASN"], row["asrank"]) for _, row in mno_df.sort_values(["CountryName", "asrank"]).iterrows()]
)

print(sss)

Australia & Telstra & AS1221 & 52\\ \hline
Australia & Optus & AS4804 & 5300\\ \hline
Australia & Vodafone & AS133612 & 7072\\ \hline
Austria & A1 Telekom Austria & AS8447 & 151\\ \hline
Austria & Magenta Telekom & AS25255 & 494\\ \hline
Austria & T-Mobile Austria & AS8412 & 502\\ \hline
Belgium & Proximus & AS5432 & 957\\ \hline
Belgium & Telenet & AS6848 & 1202\\ \hline
Belgium & Orange & AS47377 & 3083\\ \hline
Brazil & TIM & AS26615 & 72\\ \hline
Brazil & Vivo & AS18881 & 819\\ \hline
Brazil & Claro & AS28573 & 7011\\ \hline
Canada & Bell & AS577 & 84\\ \hline
Canada & Telus & AS852 & 203\\ \hline
Canada & Rogers & AS812 & 244\\ \hline
Chile & Movistar & AS7418 & 3848\\ \hline
Chile & Claro & AS27995 & 7102\\ \hline
Chile & Entel & AS27651 & 11671\\ \hline
Colombia & Tigo Colombia/EPM Telecomunicaciones & AS13489 & 1323\\ \hline
Colombia & Claro & AS10620 & 11592\\ \hline
Colombia & Colombia Móvil & AS27831 & 11603\\ \hline
Dominican Republic & Claro & AS6400 & 2796\\ \hline
Dominican Republic & Altice Dominicana & AS28118 & 3070\\ \hline
Dominican Republic & Tricom & AS27887 & 3479\\ \hline
France & Orange & AS3215 & 192\\ \hline
France & SFR & AS15557 & 408\\ \hline
France & Bouygues Telecom & AS5410 & 1369\\ \hline
Germany & Deutsche Telekom & AS3320 & 19\\ \hline
Germany & Vodafone & AS3209 & 233\\ \hline
Germany & O2 & AS6805 & 1787\\ \hline
Ireland & Eir & AS5466 & 1792\\ \hline
Ireland & Vodafone & AS15502 & 3425\\ \hline
Ireland & Three & AS13280 & 7193\\ \hline
Italy & TIM & AS3269 & 242\\ \hline
Italy & Wind Tre & AS1267 & 423\\ \hline
Italy & Vodafone & AS30722 & 1018\\ \hline
Japan & KDDI & AS2516 & 91\\ \hline
Japan & SoftBank & AS17676 & 152\\ \hline
Japan & NTT Docomo & AS9605 & 11586\\ \hline
Martinique & Digicel & AS48252 & 3458\\ \hline
Mexico & AT&T & AS28469 & 7267\\ \hline
Mexico & Telcel & AS28403 & 15535\\ \hline
Netherlands & KPN & AS1136 & 777\\ \hline
Netherlands & T-Mobile & AS50266 & 1284\\ \hline
Netherlands & Tele2 & AS13127 & 1378\\ \hline
New Zealand & 2degrees & AS9790 & 230\\ \hline
New Zealand & Vodafone & AS9500 & 1715\\ \hline
New Zealand & Spark & AS4771 & 3863\\ \hline
Nigeria & MTN & AS29465 & 782\\ \hline
Nigeria & Airtel & AS36873 & 960\\ \hline
Nigeria & Glo & AS328309 & 24163\\ \hline
Norway & Telenor & AS2119 & 234\\ \hline
Norway & NextGenTel AS & AS15659 & 4487\\ \hline
Norway & TELIA NORGE AS & AS12929 & 7144\\ \hline
Peru & Movistar & AS6147 & 1869\\ \hline
Peru & Claro & AS12252 & 1973\\ \hline
Peru & Entel & AS21575 & 2097\\ \hline
Philippines & Globe Telecom & AS132199 & 11726\\ \hline
Philippines & Smart Communications & AS10139 & 11925\\ \hline
Portugal & NOS & AS2860 & 753\\ \hline
Portugal & MEO & AS15525 & 1294\\ \hline
Portugal & Vodafone & AS12353 & 1505\\ \hline
Puerto Rico & Claro & AS10396 & 1087\\ \hline
Puerto Rico & Liberty & AS14638 & 1886\\ \hline
Puerto Rico & T-Mobile & AS21928 & 5313\\ \hline
Saint Barthélemy & Digicel & AS3215 & 192\\ \hline
Spain & Orange & AS12479 & 327\\ \hline
Spain & Vodafone & AS12430 & 348\\ \hline
Spain & Movistar or Telefonica de Espana & AS3352 & 361\\ \hline
United Kingdom & O2 & AS5089 & 460\\ \hline
United Kingdom & Vodafone & AS5378 & 5319\\ \hline
United Kingdom & EE & AS12576 & 11570\\ \hline
United States & T-Mobile & AS21928 & 5313\\ \hline
United States & AT&T Mobility LLC & AS20057 & 7027\\ \hline
United States & Verizon & AS22394 & 11608\\ \hline